/* :root {
    --mainColor: #f0b30f;
    --mainDark: #343a40;
    --mainGrey: rgba(109, 109, 109);
    --mainlightgrey: rgba(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    --backcol: #85dcb8;
  } */

  
tableviews th {
  background: linear-gradient(WhiteSmoke, lightgray);
  text-align: left;
  border: 1px solid black;
  height: 400 px;
}
tableviews td {
  border: 1px solid black;
  border-bottom: 0;
  /*border-right: 0;*/
  height: 20px;
  text-align: left;
}

div th,
div td {
  border: 1px solid black;
  text-align: center;
}
table {
  display: inline;
  border-collapse: collapse;
}
input {
  text-align: center;
}


#quantumParagraph{
  width: 50px;
}

#fadeaway {
  background-color: white;
}